/* Universal Styling */

* {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  margin: 0;
  padding: 0;
}

/* Header Styling */

header {
  height: 69px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.logo {
  height: 50px;
  margin: 10px 10px;
}

div.navbar {
  display: flex;
  align-items: center;
}

a {
  margin: 0 5px;
}
