/* Universal Styling */

* {
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
  margin: 0;
  padding: 0;
}

p {
  font-size: 22px;
}

img.tea {
  height: 200px;
  width: 300px;
  margin: 10px 10px;
}

h2, h4 {
  margin: 15px;
}

/* Header Styling */

header {
  height: 69px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
}

.logo {
  height: 50px;
  margin: 10px 10px;
}

div.navbar {
  display: flex;
  align-items: center;
}

a {
  margin: 0 5px;
}

/* Mission Section Styling */

section#mission {
  margin: 0 auto;
  height: 700px;
  width: 1200px;
  background-image: URL("./images/background.jpg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.mission {
  width: 100%;
  text-align: center;
}

/* Featured Tea Section Styling */

section#featuredtea {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 75px auto;
  text-align: center;
}

div.featuredteas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Locations Section Styling */

section#locations {
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: URL("./images/locations.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

div#locations, h2#locations {
  background-color: transparent;
}

div.locations {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: transparent;
}

div.locale {
  height: 300px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 1;
}

/* Footer Styling */

div.footer {
  height: 200px;
  text-align: center;
  margin-top: 75px;
}

 h5 {
   margin: 20px;
 }

div.copyright {
  margin: 20px;
}
