/* Universal Styling */

* {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  margin: 0;
  padding: 0;
}

/* Header Styling */

header {
  height: 69px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
  width: 100%;
  opacity: 1.0;
}

.logo {
  height: 50px;
  margin: 10px 10px;
}

div.navbar {
  display: flex;
  align-items: center;
}

a {
  margin: 0 5px;
}

/* Mission Section Styling */

section#mission {
  margin: 0 auto;
  position: relative;
  top: 100px;
  height: 700px;
  width: 1200px;
  background-image: URL("./images/background.jpg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.mission {
  width: 100%;
  text-align: center;
}

/* Featured Tea Section Styling */

section#featuredtea {
  position: relative;
  top: 800px;
}
